body {
	font-family: sans-serif;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {  
    color: blue;
    text-decoration: underline;  
}

.error {
    padding: 10px;
    background-color: red;
    color: yellow;
    font-weight: bold;
}

.message {
    padding: 10px;
    background-color: #CCFFCC;
    border: 1px solid #66AA66;
    color: black;
    font-weight: bold;
}

.block_blue{
    background-color: #e8edf7;
    margin: 10 0 10 0;
    padding: 5 10 5 10;
}

.block_aqua{
    background-color: #e8f7f4;
    margin: 10 0 10 0;
    padding: 5 10 5 10;
}

.block_green{
    background-color: #e8f7e8;
    margin: 10 0 10 0;
    padding: 5 10 5 10;
}

.block_red{
    background-color: #f7e8e8;
    margin: 10 0 10 0;
    padding: 5 10 5 10;
}

.block_topMenu{
    font-family: monospace;
    background-color: #EEEEEE;
    padding: 5px;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
}

.cellID{
    background-color: #EEEEEE;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
}

.picframe_shadow{
    margin: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
}

.button_copy{
    font-family: monospace;
    font-size: 80%; 
    border-style:none;
    border: 1px solid #CCC;
    background-color: white;
    color: black;
}
.button_copy:hover{
    background-color: #CCCCFF;
}
.button_copy:active{
    background-color: #FFFFCC;
}

.menu_box_browse{
    background-color: #EEEEEE; 
    border: 1px solid #AAAAAA;
    padding: 5px;
}

.menu_box_abf{
    background-color: #FFFFAA; 
    border: 1px solid #CCCC66;
    padding: 5px;
    
}

.menu_title{
    font-weight: bold; 
    font-family: "Arial Narrow", Arial, sans-serif;
}

.abftick{
    font-weight: bold; 
}